# Config and Htaccess Files
/www/2.3/upload/.htaccess
/www/3.0/upload/.htaccess
/www/2.3/upload/config.php
/www/3.0/upload/admin/config.php

# Image File
!/www/2.3/upload/image/no_image.jpg
!/www/3.0/upload/image/no_image.jpg
/www/2.3/upload/image/catalog/produto-teste.png
# Image Cache Files
/www/2.3/upload/image/cache/*
/www/3.0/upload/image/cache/*
!/www/2.3/upload/image/cache/index.html
!/www/3.0/upload/image/cache/index.html

# System Cache Files
/www/2.3/upload/system/storage/cache/*
/www/3.0/upload/system/storage/cache/*
!/www/2.3/upload/system/storage/cache/index.html
!/www/3.0/upload/system/storage/cache/index.html

# Modification Files
/www/2.3/upload/system/storage/modification/*
/www/3.0/upload/system/storage/modification/*
!/www/2.3/upload/system/storage/modification/index.html
!/www/3.0/upload/system/storage/modification/index.html

# Templates Files
/www/2.3/upload/image/templates/*
/www/3.0/upload/image/templates/*
/www/2.3/upload/image/templates/default.jpg
/www/3.0/upload/image/templates/default.jpg

# Download Files
/www/2.3/upload/system/storage/download/*
/www/3.0/upload/system/storage/download/*
!/www/2.3/upload/system/storage/download/index.html
!/www/3.0/upload/system/storage/download/index.html

# Upload Files
/www/2.3/upload/system/storage/upload/*
/www/3.0/upload/system/storage/upload/*
!/www/2.3/upload/system/storage/upload/index.html
!//www/3.0upload/system/storage/upload/index.html

# Flags
# remove sharp char if you want to add flags to gitignore
# /upload/flags/*

# Log Files
/www/2.3/upload/system/storage/logs/*
/www/2.3/upload/rakuten.log
/www/3.0/upload/system/storage/logs/*
!/www/2.3/upload/system/storage/logs/index.html
!/www/3.0/upload/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /upload/backup.install/*
# /upload/install/*

# Ignore all vendor files included by composer and the lock file
/www/2.3/tests/phpunit/vendor/*
/www/2.3/tests/phpunit/composer.lock
/www/2.3/vendor/*

# Test Config File
/www/2.3/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
/.DS_Store

# mysql database
/mysql
