# Config and Htaccess Files
/www/2.3/upload/.htaccess
/www/3.0/upload/.htaccess
/www/2.3/upload/config.php
/www/3.0/upload/admin/config.php

# Image File
!/www/2.3/upload/image/no_image.jpg
!/www/3.0/upload/image/no_image.jpg
/www/2.3/upload/image/catalog/produto-teste.png
# Image Cache Files
/www/2.3/upload/image/cache/*
/www/3.0/upload/image/cache/*
!/www/2.3/upload/image/cache/index.html
!/www/3.0/upload/image/cache/index.html

/www/2.3/upload/admin/*
/www/2.3/upload/catalog/*
/www/2.3/upload/image/*
/www/2.3/upload/system/*
/www/2.3/upload/rakuten.log
/www/3.0/upload/admin/
/www/3.0/upload/catalog/
/www/3.0/upload/image/
/www/3.0/system/

# Ignore all vendor files included by composer and the lock file
/www/2.3/tests/phpunit/vendor/*
/www/2.3/tests/phpunit/composer.lock
/www/2.3/vendor/*

# Test Config File
/www/2.3/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
/.DS_Store

# mysql database
/mysql

# phpMyAdmin
/www/phpmyadmin
